@font-face {
  font-family: "handwriting";
  src: url("Handwriting-Regular.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "websiteFont";
  src: url("website-font.ttf");
  font-weight: 900;
  font-style: normal;
}
