@font-face {
  font-family: "handwriting";
  src: url("Handwriting-Regular.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "ApercuPro";
  src: url("apercu_regular_pro.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Lyyra";
  src: url("LyyraStandard-Bold.ttf");
  font-weight: 1200;
  font-style: bold;
}
