@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@layer base {
  @font-face {
    font-family: HN;
    font-weight: 600;
    src: url(/fonts/HN-md.woff2) format("woff2");
  }
}
